{% extends "index.html" %}

{% block content %}
{% load static %}
<main>
  <div class="New">
    {% for all in latest_articles %}
      <div class="container">
        <div class="row-between">
          <section>
            <h3>NEW</h3>
            <h1>{{ all.title }}</h1>
            <p>{{ all.description }}</p>
            <div class="read">
              <a class="read__btn" href="{% url 'app:detail' all.id %}">
                <p>Читать</p>
              </a>
            </div>
          </section>
          <img src="{{ all.img.url }}">
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="Articles">
    <div class="container">
      <h3>Другие статьи</h3>
      <div class="row">
        {% for all in info %}
          <a class="show__article" href="{% url 'app:detail' all.id %}">
            <div class="article">
              <p>{{ all.date }} {{ all.time }}</p>
              <img src="{{ all.img.url }}">
              <h3>{{ all.title }}</h3>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
