{% extends "index.html" %}

{% block content %}
{% load static %}
<main>
  <div class="New">
    <div class="container">
      <div class="row-between">
        <section>
          <h3>NEW</h3>
          {% for all in info %}
            <h1>{{ all.title }}</h1>
            <p>{{ all.description }}</p>
            <div class="read">
              <a class="read__btn" href="{% url 'article' %}">
                <p>Читать</p>
              </a>
            </div>
          </section>
          <img src="{{ all.img.url }}">
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="Articles">
    <div class="container">
      <h3>Другие статьи</h3>
      <div class="article">
        <p>28 июня 2019 18:34</p>
        <img src="{% static 'images/1Statya_2.png' %}" alt="Robot_s_knigami">
        <h3>Как программирование развивает привычные отрасли?</h3>
      </div>
    </div>
  </div>
</main>
{% endblock %}
