<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>New Tab</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row-between">
          <div class="row">
            <img src="{% static 'images/Logo_Kodland.svg' %}" class="logo">
            <p class="text">Блог</p>
          </div>
          <button class="add" type="button" name="button">
            <p class="add__text">+ Добавить статью</p>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="New">
        <div class="container">
          <div class="row-between">
            <div class="column">
              <h3>NEW</h3>
              <h1>Почему подросткам стоит изучать программирование?</h1>
              <p>Объясняем почему словосочетание «программирование для подростков» не должно вызывать скептическую улыбку и какие полезные навыки приобретают ребята, изучая программирование.</p>
              <button class="read" type="button" name="button">
                <p>Читать</p>
              </button>
            </div>
            <img src="{% static 'images/1Statya_3.png' %}" alt="Robot_s_knigami">
          </div>
        </div>
      </div>
      <div class="Articles">
      </div>
    </main>


  </body>
</html>
